<template name="tweets">

  <div class="map right">
      <svg>
          <defs>
              <radialGradient id="grad1" cx="50%" cy="50%" r="50%" fx="50%" fy="50%">
                  <stop offset="0%" style="stop-color:rgb(255,255,0);stop-opacity:1" />
                  <stop offset="100%" style="stop-color:rgb(255,140,0);stop-opacity:0" />
              </radialGradient>
          </defs>
      </svg>
  </div>

  <div class="opensource">
      And yes, it's Open Source! Check on <a href="https://github.com/glena/twinalizer2">Github glena/twinalizer2</a>
  </div>

</template>
